form.search_student input {
    border: none;
    outline: none;
    border-bottom: 1px solid blue;
    margin: 2px 0;
    padding: 3px;
}

div.mentor_box,
div.student_box,
div.mentor_not_found,
div.student_not_found {
    border-left: 4px solid green;
    background-color: #d3f7d485;
    padding: 4px;
    border-radius: 0 6px 6px 0;
}

div.student_box {
    border-left: 4px solid rgb(2 44 183);
    background-color: rgb(232 239 255);
}

div.mentor_not_found,
div.student_not_found {
    border-left: 4px solid #800023;
    background-color: #fff1f8;
}